/* 
Project Name: Fit in the City
Client: General Assembly 
Author: Melissa Shields
Developer @GA in NYC
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix */
.group:before, .group:after{
     content:"";
     display:table;
}
.group:after{
     clear:both;
}
.group{
     *zoom:1;
}
/******************************************************************************/
/*Styling for the primary view - views/facilities/index.html.erb*/
/******************************************************************************/
body, header, img, h2, #about
#flexible-container,
#flexible-container iframe, 
#flexible-container object,  
#flexible-container embed, 
li li, li li li, h3{
     width:100%;
}

body{
     font-family: Verdana, Tahoma, sans-serif;
     font-weight: normal;
     background:#000 url(/assets/manhattan-skyline-night-new-york-city-black-and-white.jpg) no-repeat;
     /*include browser-specific prefixes for CSS3 element*/
     -webkit-background-size: cover; 
     -ie-background-size: cover; 
     background-size:cover;
}

#container{
     width:93.75%;
     margin:auto;
}

header, header p, nav a:hover, #flash_alert, #main-content, button#about-button, 
button#about-button-narrow-screen, form#new_user, #password-edit, 
#new-session, #password-reset, form#new_comment{
     color:#FFF;
}

h1, #about-button span, #about-button-narrow-screen span, 
li, li a:nth-of-type(2){
     color:#46FF00;  
}

header p:nth-of-type(1), #flash_notice, #main-content h2, 
#main-content button, li li, h3, #new-session a, h4{
     color:#FFF51A;
}

#map h2, #main-content button:hover, .display_comment{
     color:#000;
}

nav a, li a, li li li, #show_facility_comments h4, #show_facility_comments h4 a{
     color:#0FCFDF;
}

/*Header*/

header{
     margin:0.5em 0 1em 0;
}

h1, nav, #flash_alert, #flash_notice{
     font-size: 2.2em;
}

h3{
     font-size:2.4em;
}

header p, #main-content h2, #main-content button, button#about-button, 
button#about-button-narrow-screen{
     font-size: 1.8em;
}

h1, nav, #map, #main-content, #main-content button, .comment_text, .display_comment img{
     float:left;
}

h1, nav, #map, #flash_alert, #flash_notice{
     width: 50%;
}

h1, map h2, h3{
     margin:0;
}

h1{ 
     padding-left:2.5%;
}

nav, header p, .pagination{
     text-align: right;
}

nav, header p{
     padding-right:2.5%; 
}

nav{
     margin-bottom:1em; 
}

nav a, #main-content button, li{
     -webkit-user-select:none; 
}

nav a, li a:nth-of-type(2){
    text-decoration: none;  
}

nav a, h3{
     text-transform: lowercase;   
}

header p{
     line-height: 1;
     margin:0.1em 0 0 0;
}

h2, #flash_alert,#flash_notice, h3{
     text-align:center;
}

#flash_alert, #flash_notice{
     margin-top:2em;
     margin-left: 25%;
}

#map h2, #map, #flexible-container{
     position:relative;
}

/* map title */
#map h2, li li li{
     line-height:1.5em;
}

#map h2, form#new_user, #password-edit, #new-session, #password-reset, 
form#new_comment, #show_facility_comments{
     font-size:1.2em;
}

#map h2, .display_comment{
     background-color: #FFF;
}

#map h2{
     top:0;
     left:0;  
     padding:0;
     margin-bottom: 0;
}

#map{
     height: 0; 
     margin-right:2.5%;
}

/* Flexible iFrame */

img,
#flexible-container iframe,   
#flexible-container object,  
#flexible-container embed{
     position:absolute;
}

#flexible-container iframe,   
#flexible-container object,  
#flexible-container embed {
     top: 0;
     left: 0;
     height:31em;
}

#main-content, #about, #flash_alert, #flash_notice,
form#new_user, #password-edit, #new-session, #password-reset, 
form#new_comment, #show_facility_comments{
     /*include browser-specific prefixes for CSS3 element*/
     background-color: -webkit-rgba(0,0,0,0.7);
     background-color: -ie-rgba(0,0,0,0.7);
     background-color: rgba(0,0,0,0.7);
}

#main-content, form#new_comment{
     width:40%;
}

#main-content{
     margin:0.85em 5% 0 2.5%;
}

#main-content button, button#about-button{
     background-color:#000;
}

#main-content button, button#about-button, li, form#new_user input, 
form#new_user label, #new-session input, #new-session label, #new-session a, 
form#new_comment select, form#new_comment textarea, form#new_comment label,
form#new_comment input, #password-reset input, #password-reset label, 
#password-edit input, #password-edit label{
      width:90%;
}

form#new_user input, form#new_user label, #new-session input, #new-session label, 
#new-session a, form#new_comment select, form#new_comment textarea, form#new_comment label,
form#new_comment input, #password-reset input, #password-reset label, 
#password-edit input, #password-edit label{
     margin-left:5%;
}

#main-content, #main-content button, #about, #flash_alert, #flash_notice,
button#about-button, button#about-button-narrow-screen, .display_comment, form#new_user, 
#password-edit, #new-session, #password-reset, form#new_comment, 
#show_facility_comments{
      /*include browser-specific prefixes for CSS3 element*/
     -webkit-border-radius: 0.5em 0.5em; 
     -ie-border-radius: 0.5em 0.5em; 
     border-radius:0.5em 0.5em;
}

#main-content, #main-content button, form#new_user, 
#password-edit, #new-session, #password-reset, 
form#new_comment, #flash_notice{
     border:1px solid #FFF51A;
}

#flash_alert{
     border:1px solid #FFF;
}

#show_facility_comments{
     border:1px solid #0FCFDF;
}

#main-content button{
     height:3em;
     margin:0 5% 1em 5%;
}

#main-content button:hover{
     background-color:#FFF51A;
}

#about, button#about-button, button#about-button-narrow-screen{
     border:1px solid #46FF00;
     padding:5%;   
}

button#about-button{
     margin:1em 5%;
}

button#about-button-narrow-screen, li{
     display:none;
}

button#about-button-narrow-screen{
     margin:1.5em 0 1.5em 15%;
     /*include browser-specific prefixes for CSS3 element*/
     background-color: -webkit-rgba(0,0,0,0.8);
     background-color: -ie-rgba(0,0,0,0.8);
     background-color: rgba(0,0,0,0.8);
}
/**********************************************************************************/
/*Styling for the nested lists in the primary view -view/facilities/index.html.erb*/
/**********************************************************************************/
ul{
     list-style-type:none;    
     line-height: 2.5em;
     padding-left:5%;
}

li, .pagination, h4{
     font-size: 1.4em;
}

li{   
     cursor:pointer; 
     font-weight:normal;  
}

li li{ 
     font-size:1em;
}

li li li:hover {
     font-weight:bold;
}
/******************************************************************************/
/*Styling for all other views and forms*/
/******************************************************************************/
form#new_user, #new-session, form#new_comment, 
#show_facility_comments, #password-edit, #password-reset{
     margin-top: 1em;
}

form#new_user, #new-session, form#new_comment, #password-reset, #password-edit{
     padding:1em;
}

form#new_user, #password-edit {
     width:30%;
     margin-left:35%; 
}

#new-session, #password-reset {
     width:25%;
     margin-left:37.5%; 
}

form#new_comment {
     margin-left:30%; 
}

#new-session input#remember_me{
     width:5%;
}

#show_facility_comments {
     width:80%;
     margin-left:10%; 
     padding:0 2% 1em 2%;
}

.display_comment{
     border:2px solid #0FCFDF;
     margin-bottom:0.5em;
}

.comment_text{
     width:80%;
}

.display_comment img{
     width:10%;
     position:static;
     margin:1em 5% 0.5em 1%;
}

.display_comment p:nth-of-type(2){
     padding-left: 4%; 
}
/******************************************************************************/
/*Media Queries*/
/******************************************************************************/
@media only screen and (min-width:1300px){
      body{
          width:1300px;
     }
}

@media only screen and (max-width:1200px){
     h1{
          width:45%;
     }
     nav{
          width:55%;
     }
}

@media only screen and (max-width:1100px){
     #map{
          display:none;
     }

     button#about-button-narrow-screen{
          display:inline;
     }
     button#about-button-narrow-screen, #main-content{
          width:70%;
     }
     #main-content{
          margin:0 0 0 15%;
     }
     header{
          margin-bottom: 0.5em;
     }
     h1, nav, #flash_alert, #flash_notice{
          font-size: 2.0em;
     }
     h1{ 
     padding-left:0;
     }
     nav, header p{
     padding-right:0; 
     }
     .comment_text{
          width:75%;
     }
     .display_comment img{
          width:15%;
     }
}

@media only screen and (max-width:940px){
     h1, nav, header p{
          width:100%;
     }
     h1, nav, header p{
          text-align:center;
     }
     h3, #flash_alert, #flash_notice, form#new_user, #new-session, 
     form#new_comment, #show_facility_comments, #password-reset, 
     #password-edit{
          width:70%;
     }
     form#new_user, #new-session, form#new_comment, 
     #show_facility_comments, #password-reset, #password-edit{
          margin:0 0 0 15%;
     }
     h3, #flash_alert, #flash_notice{
          margin-left: 15%;
     }
     .comment_text{
          width:70%;
     }
     .display_comment img{
          width:20%;
     }
}

@media only screen and (max-width:768px){
     h1 {
          font-size:2.4em; 
     }
     #flash_alert, #flash_notice{
          font-size: 1.8em;
     }
     nav a{
          line-height:2em;
     }
     li li li{
          line-height: 2.5em;
     }
}

@media only screen and (max-width:520px){
     #main-content, button#about-button-narrow-screen{
          width:100%;
          margin-left:0;
     }
     nav{
          font-size: 1.8em;
     }
}

@media only screen and (max-width:480px){
     h1, h3, nav{
          text-align:left;
     }
     h1, nav, h3, #flash_alert, #flash_notice, #main-content h2, 
     #main-content button, button#about-button-narrow-screen{
          font-size:1.4em;
     }
     header p{
          font-size:1.2em;
     }
     form#new_user, #new-session, form#new_comment, 
     #password-reset, #password-edit, #show_facility_comments{
          font-size:1.0em;
     }
     nav a{
          padding-right:3%;
     }
}

@media only screen and (max-width:410px){
     nav{
          font-size:1.0em;
     }
}